/* Their image is 1440 x 1912. 
*  This looks good at that ratio, but due to me using relative values and them using 
*  absolute in the guide, it gets a bit off in other ratios. 
*  I think when they said "not to worry about making it look good on mobile," 
*  it meant that I was supposed to use absolute values, but I don't want to make that a habit.
*/
* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    padding: 2% 10%;
    justify-content: space-between;
    background-color: #1F2937;
}

#header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

#nav-bar {
    width: 40%;
    display: flex;
    justify-content: space-between;
    color: #e5e7eb;
    font-size: 18px;
}

#introduction {
    display: flex;
    padding: 10%;
    background-color: #1F2937;
}

#left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#left-1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-right: 10%; /*This makes the 'awesome' go to another line in most ratios.*/
}

#left-2 {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
    padding: 1% 1% 1% 0;
    margin-right: 20%; /*This makes it look proper at 1440px wide*/
}

#first-attempt {
    width: fit-content;
    color: #F9FAF8;
    background-color: #3882f6;
    font-size: 18px;
    padding: 1.5% 7%;
    margin-top: 1%;
    border: none;
    border-radius: 0.4em;
}

#image-placeholder {
    width: max-content;
    padding: 40% 60%;
    background-color: #6c7179;
    color: #F9FAF8;
    font-size: 18px;
    text-align: center;  
}

#information {
    padding-bottom: 5%;
}

#info-header {
    text-align: center;
    margin: 3%;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.illustrations {
    display: flex;
    justify-content: space-evenly;
    margin: 2% 15%;
}

.illustration-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
}

.picture {
    border: 5px solid #3882f6;
    border-radius: 2em;
    padding: 45%;
}

.illustration-description {
    font-size: 18px;
    text-align: center;
    margin: 3% 1%;
    padding: 1% 5%;
}

#testimonial {
    background-color: #e5e7eb;
    color: #1F2937;
    padding-bottom: 5%;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

blockquote > p {
    margin: 10% 21% 0%;
}

#source {
    font-size: 24px;
    font-weight: bolder;
    text-align: right;
    margin-right: 24%;
}

#call-to-action {
    margin: 7% 10%;
}

#action-container {
    display: flex;
    background-color: #3882f6;
    padding: 5% 15%;
    justify-content: space-between;
    border-radius: 0.5rem;
}

#left-action {
    display: flex;
    flex-direction: column;
}

#action1 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

#action2 {
    font-size: 18px;
    color: #e5e7eb;
}

#second-attempt {
    color: #F9FAF8;
    background-color: #3882f6;
    font-size: 20px;
    padding: 1% 5%;
    margin-top: 1%;
    border: 3px solid;
    border-radius: 0.4em;
}

#footer {
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
    padding: 3%;
}

