/* Their image is 1440 x 1912. 
*  This looks good at that ratio, but due to me using relative values and them using 
*  absolute in the guide, it gets a bit off in other ratios. 
*  I think when they said "not to worry about making it look good on mobile," 
*  it meant that I was supposed to use absolute values, but I don't want to make that a habit.
*  I'm also using a slightly darker color for the secondary text.
*  Not sure if it's a screen difference or something, but the original color
*  doesn't seem to be much less of a contrast like they're saying it is.
*/
* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    padding: 2% 10%;
    justify-content: space-between;
    background-color: #1F2937;
}

#header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

#nav-bar {
    width: 40%;
    display: flex;
    justify-content: space-between;
    color: #c3c3c3;
    font-size: 18px;
}

#introduction {
    display: flex;
    padding: 10%;
    background-color: #1F2937;
}

#left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#left-1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-right: 10%; /*This makes the 'awesome' go to another line in most ratios.*/
}

#left-2 {
    color: #c3c3c3;
    font-size: 18px;
    padding: 1% 1% 1% 0;
    margin-right: 20%; /*This makes it look proper at 1440px wide*/
}

#first-attempt {
    width: fit-content;
    color: #F9FAF8;
    background-color: #3882f6;
    font-size: 18px;
    padding: 1.5% 7%;
    margin-top: 1%;
    border: none;
    border-radius: 0.4em;
}

#image-placeholder {
    width: max-content;
    padding: 40% 60%;
    background-color: #6c7179;
    color: #F9FAF8;
    font-size: 18px;
    text-align: center;  
}

#information {
    padding-bottom: 5%;
}

#info-header {
    text-align: center;
    margin: 3%;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.illustrations {
    display: flex;
    justify-content: space-evenly;
    margin: 2% 15%;
}

.illustration-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.picture {
    border: 5px solid #3882f6;
    border-radius: 2em;
    padding: 45%;
    margin: 0% 5%;
}

.illustration-description {
    font-size: 18px;
    text-align: center;
    margin: 3% 1%;
    padding: 1% 5%;
}

